@import url('https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap');

:root{
    --light: #F2DCB3;
    --dark: #554131;
    --btn-primary: #400E73;
    --btn-secondary: #84188C;
    --yellow: #F2C744;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Mali', 'cursive';
    color: var(--dark);
    font-size: 12pt;
    min-width: 1000px!important;
}

header{
    min-width: 1000px!important;
}

.boxLogin{
    border-radius: 10px;
    background-color: var(--light);
    justify-content: space-between;
    color: var(--dark);
}

.bg-login{
    background: var(--dark);
    background: linear-gradient(180deg, var(--dark) 0%, #F2C744 100%);
    background-attachment: fixed;
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
  opacity: 1;
  transform: scale(.85) translateY(-2.3rem) translateX(.15rem);
}
.form-floating label{
    background-color: var(--light);
    top: 30%;
    left: 15px;
    width: auto;
    height: auto;
    padding: 0%;
}

#legenda{
    transform: scale(.62) translateY(-2.2rem) translateX(-5.9rem);
    background-color: var(--light);
    top: 30%;
    left: 15px;
    width: auto;
    height: auto;
    padding: 0%;
}

.form-floating>.form-control{
    padding: 2rem;
    background-color: var(--light);
    border-color: var(--dark);
}

.btn-dark {
    --bs-btn-color: var(--light);
    --bs-btn-bg: var(--btn-primary);
    --bs-btn-border-color: var(--btn-primary);
    --bs-btn-hover-color: var(--light);
    --bs-btn-hover-bg: var(--btn-secondary);
    --bs-btn-hover-border-color: var(--btn-secondary);
    --bs-btn-focus-shadow-rgb: 66,70,73;
    --bs-btn-active-color: var(--light);
    --bs-btn-active-bg: var(--btn-secondary);
    --bs-btn-active-border-color: var(--btn-secondary);
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--light);
    --bs-btn-disabled-bg: var(--btn-primary);
    --bs-btn-disabled-border-color: var(--btn-primary);
}

a{
    color: var(--btn-primary);
    text-decoration: none;
}

a:hover{
    color: var(--btn-secondary);
    cursor: pointer;
}

#logo{
    width: 50px;
    height: 75px;
}

ul{
    text-decoration: none;
}

.navbar-dark{
    background-color: var(--dark);
    --bs-navbar-color: var(--yellow);
    --bs-navbar-hover-color: var(--light);
    --bs-navbar-toggler-border-color: var(--yellow);
    --bs-navbar-active-color: var(--light);
}

footer{
    background-color: var(--dark);
    color: var(--light);
}

footer img{
    width: 5%;
    padding: 10px;
}

.bg-light{
    background-color: var(--light)!important;
}

.cards {
    background-color: var(--dark);
    color: var(--light);
    border-radius: 20px;
    width: 220px;
    min-width: 200px;
    height: 370px;
    margin: 1rem;
    padding: 0.5rem;
    border: 10px solid gray;
    margin-bottom: 5%;
}

.hero{
    background-color: var(--dark);
    color: var(--light);
    border-radius: 20px;
    padding: 0.5rem;
    border: 10px solid gray;
    margin: 1rem;
    width: fit-content;
}

#nameCard{
    background-color: var(--light);
    color: var(--dark);
    padding: 1% 5%;
    border-radius: 20px;
    text-align: center;
    margin: 10px 0;
    font-size: 68%;
    
    height: 25px;
}

.cardAtrib {
    background-color: var(--light);
    color: white;
    text-shadow: 
               -1px -1px 0px black, 
               -1px 1px 0px black,                    
                1px -1px 0px black,                  
                1px 0px 0px black;
    font-size: 1.5em;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
}
.mana{
    background-color: #3F7FD2;
    position: relative;
    top: -25px;
    left: -25px;
}

.attack{
    background-color: #FFEF3F;
    position: relative;
    bottom: -25px;
    left: -25px;
}

.postura{
    background-color: var(--light);
    position: relative;
    bottom: -25px;
    width: 60%;
    height: 70%;
    border-radius: 20px;
    font-size: 0.75em;
    color: var(--dark);
}

.comum{
    border-color: grey;
}
.incomum{
    border-color: #31c21d;
}
.raro{
    border-color: #6689bd;
}
.epico{
    border-color: rgb(114, 0, 180);
}
.lendario{
    border-color: rgb(255, 115, 0);
}

.classesCard{
    background-color: var(--light);
    width: 35px;
    height: 35px;
    position: relative;
    top: -45px;
    border-radius: 30%;
    border: 5px solid var(--light);
}

.health{
    background-color: #B82520;
    position: relative;
    bottom: -25px;
    right: -25px;
}

.imageCard {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 20%;
    display: flex;
    margin: 10px auto;
    align-self: center;
    border-radius: 20px;
    height: 150px;
    width: -webkit-fill-available;
    top: -40px;
    position: relative;

}

.cards .name{
    background-color: var(--light);
    color: var(--dark);
    padding: 1% 5%;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
    top: -40px;
    font-size: 68%;
    position: relative;
    height: 25px;
}

.cards .description{
    text-align: center;
    margin-bottom: 0;
    height: 30px;
    font-size: 0.7em;
    top: -40px;
    position: relative;
}

.box{
    width: 100%;
    height: 85%;
}

.box2{
    width: 98%;
    margin: 1%;
}

.box2 ul{
    width: 78%;
    margin: auto 1%;
    padding: 1.5rem;
}

.box2 ul li label, .box2 ul li button{
    width: 150px!important;
    height: 200px!important;;
    font-size: 0.75em;
}

.box2 img{
    width: 120px;
    margin-bottom: 0.5rem;
    min-height: 120px;
}

#next{
    width: 100px;
    min-height: auto;
    margin: 0;
}

.box2 ul li{
    margin: 0.3rem 1rem;
}

.box3{
    width: 18%;
    margin: auto 1%;
    min-width: 120px;
}

#alert{
    margin-top: 0.5rem;
    color: red;
}

button a{
    color: inherit;
    text-decoration: none;
}

button a:hover{
    color: inherit;
}

#mostrarSenhaLogin, #mostrarSenhaCadastro, #mostrarConfirmarSenha{
    position: absolute;
    top: 22px;
    right: 20px;
    cursor: pointer;
}

#loading img, #loadingRegister img{
    width: 10%;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin-bottom: 0;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: var(--dark);
    background-color: var(--light);
    border: 1px solid var(--dark);
    border-radius: 0.25rem;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(calc(2.25rem + 2px) - 1px * 2);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: var(--light);
    content: "Selecionar";
    background-color: var(--dark);
    border-left: 1px solid var(--dark);
    border-radius: 0 0.25rem 0.25rem 0;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    line-height: 1.5;
    color: var(--dark);
    vertical-align: middle;
    background: #fff url(imagens/setaselect.svg) no-repeat right 0.75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.numCard{
    background-color: var(--light);
    width: 50px;
    border-color: var(--dark);
    border-radius: 0.375rem;
}

.aside{
    display: block;
    float: right;
    min-width: 350px;
    max-width: 350px;
}
.box-fixed{
    position: fixed;
    width: 350px;
}

.del_btn{
    width: 50%;
    margin: auto;
    margin-top: 1%;
}

.card-li{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}
.textbox{
    min-height: 6rem;
}

#divParams{
    border: var(--bs-border-width) solid var(--dark);
    padding: 0 1rem;
    border-radius: 0.375rem;
}

.heroImg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    margin: 10px auto;
    align-self: center;
    border-radius: 20px;
    height: 200px;
    width: 180px;
    position: relative;
}

.top-0{
    top: 0;
}

.clickable:hover{
    cursor: pointer;
}

.detailsCard{
    position: fixed;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: var(--light);
    z-index: 100;
    border: 5px solid var(--dark);
    border-radius: 20px;
}

#cardDetails > *{
    border-bottom: 1px solid var(--dark);
    min-height: 35px;
}

#quiz{
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--dark);
}

#respostas > * > label{
    padding: 0.5rem;
}

#divTimer{
    border: 3px solid var(--dark);
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 80%;
    min-width: 210px;
}